* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shoe-shop {
  min-height: 100vh;
  background-color: antiquewhite;
}
.title {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 2rem;
  color: violet;
  font-size: 4rem;
}
small {
  font-size: 1.5rem;
  margin-top: 3.8rem;
  color: royalblue;
}
.collections {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2rem;
}
img {
  width: 250px;
  padding: 1rem;
  margin: auto;
}
h2 {
  color: seagreen;
  padding: 0.5rem;
  text-align: center;
  margin: 3rem;
  font-size: 3rem;
  border: 5px solid rebeccapurple;
  border-style: double;
}
p {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 200px;
  position: relative;
}

h3 {
  color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}
